<% include ./partials/header %>

<div class="ui fluid container">
  <div id="splash-text" class="ui center aligned text container">
    <h1 class="ui header">BetTracker</h1>
    
    <h3 class="ui header">Let's make it a sure thing.</h3>
    
    <div class="massive ui animated button" tabindex="0">
      <a href="/users/new">
        <div class="visible content">Sign Up</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </a>
    </div>
  </div>
</div>
<!--<p>BetTracker is a new way to keep track of your successes while -->
<!--recognizing trends and improving your performance over time.</p>-->

<% include ./partials/footer %>