<html>
  <header>
    <title>Bet Tracker</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </header>
  
  <body>
    
    <div id="navbar" class="ui top fixed menu">
      <div class="ui container">
        <a class="header item" href="/"><i class="trophy icon"></i>BetTracker</a>
        <a class="item" href="/">Home</a>
        <a class="right item" href="/">SignUp</a>
      </div>
    </div>
    
    <div id="landing" class="ui fluid container">
      <div id="splash-text" class="ui container">
        <h1 class="ui header">BetTracker</h1>
        
        <h3 class="ui header">Let's make it a sure thing.</h3>
        
        <div id="signup-btn" class="ui animated button" tabindex="0">
          <div class="visible content">Sign Up!</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
      </div>
    </div>
    
    <!--<p>BetTracker is a new way to keep track of your successes while -->
    <!--recognizing trends and improving your performance over time.</p>-->
    
  </body>
</html>