<% include ./partials/header %>

<h1 class="ui text container header top attached segment inverted">Login Page</h1>
<div class="ui text container attached segment inverted">

  <form class="ui large form inverted" action="/login" method="POST">
    <div class="field">
      <input type="text" name="username" placeholder="Email">
    </div>
    
    <div class="field">
      <input type="password" name="password" placeholder="Password">
    </div>
    
    <button class="ui button">Login</button>
  </form>
</div>

<% include ./partials/footer %>