/* General Styles */
.backpage.ui {
  min-height: 500px;
  background-color: rgba(27, 28, 29, 1);
  /*padding-top: 2em;*/
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  
  /* Potential Idea */
  /*background-image: url("https://images.unsplash.com/photo-1473976345543-9ffc928e648d?auto=format&fit=crop&w=1685&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");*/
}

.ui.button a {
  color: rgba(27, 28, 29, 1);
}

.ui.container {
  padding-top: 2em;
}


/* Menu Styles */
#navbar {
  background-color: rgba(27, 28, 29, .95);
  margin: 0px auto;
  border: none;
}

#navbar .ui.container {
  padding-top: inherit;
}
#navbar .item:active {
  border-color: rgba(255, 255, 255, .7);
}

#nav-header {
  color: rgba(127,0,0,1)!important;
  border-color: rgba(127, 0, 0, 1);
  margin-bottom: 0px;
}


/* Home Page Styles */
#splash-text {
  padding-top: 8em;
}

#splash-text h1.ui.header {
  font-size: 4em;
  /*color: rgba(255, 255, 255, .7);*/
  color: rgba(127, 0, 0, 1);
  margin-bottom: 0px;
}

h3.ui.header {
  color: rgba(255, 255, 255, .7);
  margin: 14px 0px 28px 0px;
  
}

/*Sign Up/Login Styles*/
.auth {
  border: none;
}


/*Footer Styles*/
#fdivider.ui.divider {
  margin-top: 2rem;
}

/*User Index Page*/

/*Show Page*/
#profile-header {
  color: rgba(127,0,0,1);
}

#profile-delete {
  display: inline;
}