/* General Styles */
.ui.button a {
  color: #1B1C1D;
}


/* Menu Styles */
#navbar {
  background-color: #1B1C1D;
  margin: 0px auto;
  border: none;
}

#navbar .item:active {
  border-color: rgba(255, 255, 255, .7);
}


/* Home Page Styles */
#landing {
  min-height: 500px;
  background-color: #1B1C1D;
  /*padding-top: 2em;*/
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

#splash-text {
  padding-top: 8em;
}

#splash-text h1.ui.header {
  font-size: 4em;
  color: rgba(255, 255, 255, .7);
  margin-bottom: 0px;
}

h3.ui.header {
  color: rgba(255, 255, 255, .7);
  margin: 14px 0px 28px 0px;
  
}


/*Footer Styles*/
#fdivider.ui.divider {
  margin-top: 2rem;
}