<% include ../partials/header %>

<h1 class="ui text container header top attached segment inverted">Edit Page</h1>
<div class="ui text container attached segment inverted">

  <form class="ui large form inverted" action="/users/<%= user._id %>?_method=PUT" method="POST">
    <div class="fields">
      <div class="eight wide field">
        <input class= "edit" type="text" name="fname" value="<%= user.firstName %>">
      </div>
      
      <div class="eight wide field">
        <input class= "edit" type="text" name="lname" value="<%= user.lastName %>">
      </div>
    </div>
    
    <div class="field">
      <input class= "edit" type="text" name="username" value="<%= user.username %>">
    </div>
    
    <button class="ui button">Update</button>
  </form>
</div>

<% include ../partials/footer %>