<% include ../partials/header %>

<div class="ui container">
  <div class="ui centered cards">
    <% users.forEach(function(user) { %>
      <div class="ui card">
        <div class="image">
          <img src="<%= user.image %>">
        </div>
        <div class="content">
          <div class="header"><%= user.firstName %></div>
          <div class="meta"><%= user.lastName %></div>
          
          <div class="right aligned"><a href="/users/<%=user._id %>">View Profile</a></div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<% include ../partials/footer %>