<% include ../partials/header %>

<h1 class="ui text container header top attached segment inverted">Sign Up Page</h1>
<div class="ui text container attached segment inverted">

  <form class="ui form inverted" action="/signup" method="POST">
    <div class="fields">
      <div class="eight wide field">
        <label>First Name:</label>
        <input type="text" name="fname" placeholder="First Name">
      </div>
      
      <div class="eight wide field">
        <label>Last Name:</label>
        <input type="text" name="lname" placeholder="Last Name">
      </div>
    </div>
    
    <div class="field">
      <label>Email:</label>
      <input type="text" name="email" placeholder="email">
    </div>
    
    <div class="field">
      <label>Password:</label>
      <input type="password" name="password" placeholder="password">
    </div>
    
    <button class="ui button">Sign Up</button>
  </form>
</div>

<% include ../partials/footer %>