<% include ../partials/header %>

<h1 class="ui text container header top attached segment inverted">Sign Up Page</h1>
<div class="ui text container attached segment inverted">

  <form class="ui large form inverted" action="/signup" method="POST">
    <div class="fields">
      <div class="eight wide field">
        <input type="text" name="fname" placeholder="First Name">
      </div>
      
      <div class="eight wide field">
        <input type="text" name="lname" placeholder="Last Name">
      </div>
    </div>
    
    <div class="field">
      <input type="text" name="username" placeholder="Email">
    </div>
    
    <div class="field">
      <input type="password" name="password" placeholder="Password">
    </div>
    
    <button class="ui button">Sign Up</button>
  </form>
</div>

<% include ../partials/footer %>